/* Algemene opmaak */
html, body {
    height: 100%; /* Zorgt ervoor dat de pagina altijd de volledige hoogte gebruikt */
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: 'Jua', 'Julee' , 'Times', 'Times New Roman', serif ;;
    background-color: #2d2d2d;
    color: #fff;
}

/* Navigatiebalk */
nav {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

/* Main content */
main {
    flex: 1; /* Zorgt ervoor dat de main-sectie alle beschikbare ruimte opvult */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Introductiesectie */
.intro {
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}

/* YouTube Video */
.ytlink {
    border-radius: 10px;
    margin: 15px auto;
    float: right;
}

/* Slogan */
.slogan {
    font-style: italic;
    color: #ff7f27;
    font-size: 50px;
    text-align: center;
}

/* Galerij */
.gallery {
    display: grid;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.gallery img {
    width: 24%;
    border-radius: 60px;
}

/* Tekstgrootte aanpassen */
.text {
    font-size: 30px;
    text-align: left;
    max-width: 80%;
    margin: auto;
}
.sushi {
    background-color:
        #dd5e51;
    width: 100vw;
    height: 3vw;
}
/* Footer onderaan de pagina */

