header {
    flex-direction: row;
    display: flex;
    background-color: #e48d2f;
    float: top;
}

header>nav {
    flex: 6;
    display: flex;
    align-self: center;
    justify-content: space-around;
    list-style-type: none;
}

a:link {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Julee','Jula' , 'Times', 'Times New Roman', serif ;
}
a:visited{
    color: antiquewhite;
}

.logo {
    height: 7vw;
    float: right;
}
h1{
    color: white;
    font-family: 'Julee','Jula' , 'Times', 'Times New Roman', serif ;
}
.jua {
    color: white;
    font-family: 'Jua', 'Julee' , 'Times', 'Times New Roman', serif ;
}

.julee {
    font-family: 'Julee','Jula' , 'Times', 'Times New Roman', serif ;
}

body {
    background-color: #33312f;
}

.sushi {
    background-color:
        #dd5e51;
    width: 100vw;
    height: 3vw;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background-color: white;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}